body {
  background: #f9f8fe;
}
a {
  color: #9670f4;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App header {
  padding: 0 0 100px;
}
.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.App a {
  color: #6c63ff;
}
